<div *ngIf="movement">
  <form (ngSubmit)="save()" #f="ngForm">

    <!--***** Header *****-->
    <div class="row mb-3">
      <div class="col-1">
        <i class="fa-solid fa-chevron-left" (click)="location.back()"></i>
      </div>
      <div class="col-7">
        <h5 class="text-uppercase">editar</h5>
      </div>
      <div class="col-4 text-end">
        <button type="reset" class="btn btn-danger btn-sm me-2">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <button type="submit" class="btn btn-success btn-sm">
          <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>
    </div>


    <!--***** Type movement and group *****-->
    <div class="row mb-3">
      <div class="col-5 pe-0">
        <div class="form-floating">
          <select
            class="form-select"
            id="typeSelect"
            name="typeMovement"
            [(ngModel)]="movement.typeMovement"
            required>
            <option selected>Movimiento</option>
            <option value="INGRESO">INGRESO</option>
            <option value="EGRESO">EGRESO</option>
          </select>
          <label for="typeSelect">Tipo</label>
        </div>
      </div>
      <div class="col-7">
        <div class="form-floating">
          <select
            class="form-select"
            id="groupSelect"
            name="groupId"
            [(ngModel)]="movement.groupId"
            required>
            <option selected>NINGUNO</option>
            <option value="Proyecto Chorrillos">Proyecto Chorrillos</option>
            <option value="Cumpleaños de mamá">Cumpleaños de mamá</option>
          </select>
          <label for="groupSelect">Grupo</label>
        </div>
      </div>
    </div>


    <!--***** Description *****-->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="descriptionInput"
        name="description"
        [(ngModel)]="movement.description"
        placeholder="Descripción"
        required>
      <label for="descriptionInput">Descripción</label>
    </div>

    <!--***** Amount and Payment Method *****-->
    <div class="row mb-3">
      <div class="col-5 pe-0">
        <!-- amount -->
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="amountInput"
            name="amount"
            [(ngModel)]="movement.amount"
            placeholder="Monto S/."
            required>
          <label for="amountInput">Monto S/.</label>
        </div>
      </div>
      <div class="col-7">
        <!-- payment method -->
        <div class="form-floating">
          <select
            class="form-select"
            id="paymentSelect"
            name="paymentMethod"
            [(ngModel)]="movement.paymentMethod"
            required>
            <option selected>Seleccionar</option>
            <option value="EFECTIVO">EFECTIVO</option>
            <option value="YAPE">YAPE</option>
            <option value="TARJETA">TARJETA</option>
            <option value="TRANSFERENCIA">TRANSFERENCIA</option>
          </select>
          <label for="paymentSelect">Medio de Pago</label>
        </div>
      </div>
    </div>

    <!--***** comments *****-->
    <div class="form-floating mb-3">
    <textarea
      class="form-control"
      placeholder="Observaciones"
      id="commentsInput"
      name="comments"
      [(ngModel)]="movement.comments"
      style="height: 80px"
      required>
    </textarea>
      <label for="commentsInput">Observaciones</label>
    </div>

    <!--***** Receipt image *****-->
    <div class="row">
      <div class="col-8 text-center">
        <img [src]="[movement.receiptUrl]" height="140px" alt="">
        <p class="text-muted">Foto comprobante</p>
      </div>
      <div class="col-4 text-center">
        <div>
          <button type="button" class="btn btn-light p-3">
            <i class="fa-solid fa-camera fa-2xl"></i>
          </button>
          <p class="small">Tomar foto</p>
        </div>
        <div>
          <button type="button" class="btn btn-light p-3">
            <i class="fa-solid fa-folder-open fa-2xl"></i>
          </button>
          <p class="small">Subir imagen</p>
        </div>
      </div>
    </div>
  </form>
</div>
