<nav *ngIf="user$ | async as user" class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Bienes Raices Pro Valencia</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link">
            <img [src]="user.photoURL" alt="avatar" class="rounded-circle me-2" width="32"/>
            Bienvenido, {{ user.displayName }}
          </a>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link">
            <i class="fa-solid fa-gears me-1"></i>
            Configuración
          </a>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket me-1"></i>
            Cerrar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
