<!--***** Header *****-->
<div class="row mb-3">
  <div class="col-1">
    <i class="fa-solid fa-chevron-left" (click)="location.back()"></i>
  </div>
  <div class="col-11">
    <h5 class="text-uppercase">nuevo movimiento</h5>
  </div>
</div>

<form>
  <div class="row mb-3">
    <div class="col-5 pe-0">
      <div class="form-floating">
        <select class="form-select" id="typeSelect">
          <option selected>Movimiento</option>
          <option value="1">INGRESO</option>
          <option value="2">EGRESO</option>
        </select>
        <label for="typeSelect">Tipo</label>
      </div>
    </div>
    <div class="col-7">
      <div class="form-floating">
        <select class="form-select" id="groupSelect">
          <option selected>Ninguno</option>
          <option value="1">Proyecto Chorrillos</option>
          <option value="2">Cumpleaños de mamá</option>
        </select>
        <label for="groupSelect">Grupo</label>
      </div>
    </div>
  </div>

  <!--***** Type movement *****-->


  <!--***** Description *****-->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="description"
      placeholder="Descripción"
    >
    <label for="description">Descripción</label>
  </div>

  <!--***** Amount and Payment method *****-->
  <div class="row mb-3">
    <div class="col-5 pe-0">
      <!-- amount -->
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="amount"
          placeholder="S/. Monto"
        >
        <label for="amount">S/. Monto</label>
      </div>
    </div>
    <div class="col-7">
      <!-- payment method -->
      <div class="form-floating">
        <select class="form-select" id="paymentMethod" aria-label="Floating label select example">
          <option selected>Seleccionar</option>
          <option value="EFECTIVO">EFECTIVO</option>
          <option value="YAPE">YAPE</option>
          <option value="TARJETA">TARJETA</option>
          <option value="TRANSFERENCIA">TRANSFERENCIA</option>
        </select>
        <label for="paymentMethod">Medio de pago</label>
      </div>
    </div>
  </div>

  <!--***** comments *****-->
  <div class="form-floating mb-3">
    <textarea
      class="form-control"
      placeholder="Observaciones"
      id="comments"
      style="height: 80px"
    ></textarea>
    <label for="comments">Observaciones</label>
  </div>

  <!--***** photo receipt *****-->
  <div class="row">
    <div class="col-12">
      <p class="text-muted">Adjuntar imagen de comprobante</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6 text-center">
      <button type="button" class="btn btn-light p-3">
        <i class="fa-solid fa-camera fa-2xl"></i>
      </button>
      <p class="small">Tomar foto</p>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-light p-3">
        <i class="fa-solid fa-folder-open fa-2xl"></i>
      </button>
      <p class="small">Subir imagen</p>
    </div>
  </div>

  <!--***** buttons *****-->
  <div class="row">
    <div class="col-6">
      <button type="reset" class="btn btn-danger w-100">
        <i class="fa-solid fa-xmark me-2"></i>
        Cancelar
      </button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-success w-100">
        <i class="fa-solid fa-floppy-disk me-2"></i>
        Guardar
      </button>
    </div>
  </div>
</form>
