<h5 class="mb-0">Nuevo Gasto</h5>
<hr class="text-muted m-0">

<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

  <!-- DESCRIPTION -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="expenseDescription"
      placeholder="Descripción"
      formControlName="description"
    >
    <label for="expenseDescription">Descripción</label>
  </div>

  <!-- AMOUNT -->
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="expenseAmount"
      placeholder="Monto"
      formControlName="amount"
    >
    <label for="expenseAmount">Monto</label>
  </div>

  <!-- PAYMENT METHOD -->
  <div class="form-floating mb-3">
    <select class="form-select" id="expensePayment" formControlName="paymentMethod">
      <option selected>Seleccionar</option>
      <option value="EFECTIVO">EFECTIVO</option>
      <option value="TRANSFERENCIA">TRANSFERENCIA</option>
      <option value="TARJETA">TARJETA</option>
      <option value="YAPE">YAPE</option>
    </select>
    <label for="expensePayment">Metodo de pago</label>
  </div>

  <!-- COMMENTS -->
  <div class="form-floating mb-5">
    <input
      type="text"
      class="form-control"
      id="expenseComments"
      placeholder="Observaciones"
      formControlName="comment"
    >
    <label for="expenseDescription">Observaciones</label>
  </div>

  <!-- CAMERA and INPUT FILE -->
  <div *ngIf="!imagePreviewUrl" class="text-center mb-3">
    <button type="button" class="btn btn-outline-secondary rounded-circle p-3" (click)="imageInput.click()">
      <i class="fa-solid fa-camera-retro fa-3x"></i>
    </button>

    <p>Tomar foto al recibo</p>

    <input
      #imageInput
      type="file"
      accept="image/*"
      (change)="onImageSelected($event)"
      hidden
      capture="environment"
    />
  </div>

  <!-- PREVIEW -->
  <div *ngIf="imagePreviewUrl" class="d-flex justify-content-center mb-3">
    <p>Preview:</p>

    <img [src]="imagePreviewUrl" alt="preview" style="width: 100px; height: auto;"/>

    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage()">
      <i class="fa fa-times"></i>
    </button>
  </div>


  <!-- LOADING -->
  <div class="d-flex justify-content-center" *ngIf="loading">
    <progress [value]="uploadProgress" max="100"></progress>
    Subiendo: {{ uploadProgress | number: '1.0-0' }}%
  </div>


  <div class="row fixed-bottom p-3">
    <div class="col-12 d-flex justify-content-between">
      <button type="reset" class="btn btn-danger rounded-circle p-3" (click)="cancel()">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>

      <button
        type="submit"
        [disabled]="loading"
        class="btn btn-success rounded-circle p-3"
      >
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
        <i *ngIf="!loading" class="fa-solid fa-floppy-disk fa-2xl"></i>
      </button>
    </div>
  </div>
</form>
