<app-title [title]="'nuevo gasto'"></app-title>

<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

  <!-- DESCRIPTION -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="expenseDescription"
      placeholder="Descripción"
      formControlName="description"
      (keydown.enter)="$event.preventDefault()"
    >
    <label for="expenseDescription">Descripción</label>
  </div>


  <div class="row mb-3">
    <!-- AMOUNT -->
    <div class="col-5 pe-0">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="expenseAmount"
          placeholder="Monto S/."
          formControlName="amount"
          (keydown.enter)="$event.preventDefault()"
        >
        <label for="expenseAmount">Monto S/.</label>
      </div>
    </div>
    <!-- PAYMENT METHOD -->
    <div class="col-7">
      <div class="form-floating">
        <select class="form-select" id="expensePayment" formControlName="paymentMethod">
          <option selected>Seleccionar</option>
          <option value="EFECTIVO">EFECTIVO</option>
          <option value="TRANSFERENCIA">TRANSFERENCIA</option>
          <option value="TARJETA">TARJETA</option>
          <option value="YAPE">YAPE</option>
        </select>
        <label for="expensePayment">Metodo de pago</label>
      </div>
    </div>
  </div>


  <!-- COMMENTS -->
  <div class="form-floating mb-3">
  <textarea
    class="form-control"
    id="expenseComments"
    placeholder="Observaciones sobre el pago"
    formControlName="comment"
    style="height: 100px"
    (keydown.enter)="$event.preventDefault()"
  ></textarea>
    <label for="expenseComments">Observaciones sobre el pago</label>
  </div>

  <!-- CAMERA and INPUT FILE -->
  <div *ngIf="!imagePreviewUrl" class="text-center mb-3">
    <button type="button" class="btn btn-outline-secondary rounded-circle p-3" (click)="imageInput.click()">
      <i class="fa-solid fa-camera-retro fa-3x"></i>
    </button>

    <p>Tomar foto al recibo</p>

    <input
      #imageInput
      type="file"
      accept="image/*"
      (change)="onImageSelected($event)"
      hidden
      capture="environment"
    />
  </div>

  <!-- PREVIEW -->
  <div *ngIf="imagePreviewUrl" class="row text-center mb-3">
    <div class="col-10">
      <img [src]="imagePreviewUrl" alt="preview" style="width: 140px; height: auto;"/>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-secondary mt-5" (click)="removeImage()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <!-- LOADING -->
  <div class="d-flex justify-content-center" *ngIf="loading">
    <progress [value]="uploadProgress" max="100"></progress>
    Subiendo: {{ uploadProgress | number: '1.0-0' }}%
  </div>


  <div class="row fixed-bottom p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- CANCEL FORM -->
      <button
        type="reset"
        class="btn btn-danger rounded-4"
        (click)="cancel()"
      >
        <i class="fa-solid fa-xmark me-2"></i>
        Cancelar
      </button>


      <!-- SAVE FORM - LOADING -->
      <button *ngIf="loading" [disabled]="loading" type="submit" class="btn btn-success rounded-4">
        <span class="spinner-border spinner-border-sm me-2"></span>
        Guardando...
      </button>

      <!-- SAVE FORM - NOT LOADING -->
      <button *ngIf="!loading" [disabled]="loading" type="submit" class="btn btn-success rounded-4">
        <i class="fa-solid fa-floppy-disk me-2"></i>
        Guardar
      </button>

    </div>
  </div>
</form>
