<div *ngIf="isLoggedIn()" class="row fixed-bottom bg-dark">
  <div class="d-flex justify-content-between">

    <button (click)="router.navigate(['dashboard'])" class="btn btn-dark me-2" type="button">
      <i class="fa-solid fa-house fa-xl" style="color:#ffffff;"></i>
      <span style="font-size: 0.8rem">Inicio</span>
    </button>

    <button (click)="router.navigate(['movements/list'])" class="btn btn-dark me-2" type="button">
      <i class="fa-solid fa-money-bill-transfer fa-xl" style="color: #ffffff;"></i>
      <span style="font-size: 0.8rem">Movimientos</span>
    </button>

    <button (click)="router.navigate(['groups/list'])" class="btn btn-dark me-2" type="button">
      <i class="fa-solid fa-user-group fa-xl" style="color:#ffffff;"></i>
      <span style="font-size: 0.8rem">Grupos</span>
    </button>

    <button (click)="router.navigate(['share'])" class="btn btn-dark" type="button">
      <i class="fa-solid fa-share-from-square fa-xl" style="color: #ffffff;"></i>
      <span style="font-size: 0.8rem">Compartir</span>
    </button>
  </div>
</div>
