<div *ngIf="show === true" class="row fixed-bottom bg-white p-3">
  <div class="d-flex justify-content-between">

    <button
      *ngIf="template==='CURRENT' ||'LIST'"
      type="button"
      class="btn btn-outline-dark me-1"
      (click)="router.navigate(['dashboard'])"
    >
      <i class="fa-solid fa-house me-1"></i>
      <span style="font-size: 0.8rem">Inicio</span>
    </button>

    <button
      *ngIf="template==='CURRENT'"
      type="button"
      class="btn btn-outline-primary me-1"
      (click)="router.navigate(['movements/list'])"
    >
      <i class="fa-solid fa-money-bill-transfer me-1"></i>
      <span style="font-size: 0.8rem">Movimientos</span>
    </button>

    <button
      *ngIf="template==='CURRENT' ||'LIST'"
      type="button"
      class="btn btn-outline-success me-1"
      (click)="router.navigate(['groups/list'])"
    >
      <i class="fa-solid fa-user-group me-1"></i>
      <span style="font-size: 0.8rem">Grupos</span>
   </button>

    <button
      *ngIf="template==='LIST'"
      type="button"
      class="btn btn-outline-secondary me-1"
      (click)="router.navigate(['/settings'])"
    >
      <i class="fa-solid fa-gears me-1"></i>
      <span style="font-size: 0.8rem">Ajustes</span>
    </button>

  </div>
</div>
