<div class="container-fluid pt-5">

  <div class="text-center mb-5">
    <h1 class="mb-0">Pro Valencia</h1>
    <p class="text-muted fs-5">Inmobiliaria</p>
  </div>

  <div class="card shadow border-light-subtle rounded-5 p-5 text-center">

    <div class="bg-secondary-subtle rounded-circle p-4 m-auto">
      <i class="fa-solid fa-user-lock fa-2xl"></i>
    </div>

    <p class="fw-medium m-2">Iniciar sesión</p>

    <br>

    <button (click)="loginWithGoogle()" class="btn btn-primary" type="button">
      <i class="fa-brands fa-google me-2"></i>
      Continuar con google
    </button>

  </div>
</div>
