<div class="container">
  <div class="row">
    <div class="col-4 offset-4 pt-5">
      <div class="card shadow border-0 rounded p-5 text-center">

        <div class="bg-secondary-subtle rounded-circle p-4 m-auto">
          <i class="fa-solid fa-user-lock fa-2xl"></i>
        </div>

        <h5 class="mt-4 mb-3">Iniciar sesión</h5>

        <button type="button" class="btn btn-primary" (click)="loginWithGoogle()">
          <i class="fa-brands fa-google me-2"></i>
          Continuar con google
        </button>

      </div>
    </div>
  </div>
</div>
