<!--***** HEADER *****-->
<div class="row border-bottom mb-2 pb-2">
  <div class="col-1">
    <i (click)="location.back()" class="fa-solid fa-arrow-left-long fa-lg"></i>
  </div>
  <div class="col-9 text-center">
    <h5>Movimientos</h5>
  </div>
  <div class="col-2 text-end">
    <button
      type="button"
      class="btn btn-success btn-sm rounded-circle"
      (click)="router.navigate(['/movements/new'])"
    >
      <i class="fa-solid fa-plus fa-xl"></i>
    </button>
  </div>
</div>


<!--***** list *****-->
<div class="row">
  <div class="col-12">

    <ul class="list-group list-group-flush">
      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>

      <li class="list-group-item ps-0 pe-0">
        <div class="row">
          <div class="col-7">
            <p class="fw-medium mb-0">Ferreteria</p>
            <p class="small text-muted mb-0">17 mayo, 10:40AM</p>
          </div>
          <div class="col-4 text-end pe-0">
            <p class="mt-2">S/ 8,423.00</p>
          </div>
          <div class="col-1 pt-2">
            <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<!-- FOOTER -->
<app-footer [show]="true"></app-footer>
