<!--***** HEADER *****-->
<div class="row border-bottom mb-2 pb-2">
  <div class="col-1">
    <i (click)="location.back()" class="fa-solid fa-arrow-left-long fa-lg"></i>
  </div>
  <div class="col-9 text-center">
    <h5>Movimientos</h5>
  </div>
  <div class="col-2 text-end">
    <button
      type="button"
      class="btn btn-success btn-sm rounded-circle"
      (click)="router.navigate(['/movements/new'])"
    >
      <i class="fa-solid fa-plus fa-xl"></i>
    </button>
  </div>
</div>


<!--***** LIST *****-->
<div class="row" style="padding-bottom: 100px">
  <div class="col-12">
    <br>

    <div class="mb-5 border-bottom" *ngFor="let group of groupedMovements">
      <h5 class="text-uppercase">{{ group.label }}</h5>

      <ul class="list-group list-group-flush">
        <li *ngFor="let m of group.items" class="list-group-item ps-0 pe-0"
            (click)="router.navigate(['/movements/view/', m.id])">
          <div class="row">
            <div class="col-7">
              <p class="fw-medium mb-0">{{ m.description }}</p>
              <p class="small text-muted mb-0">{{ m.createdAt.toDate() | date:'medium' }}</p>
            </div>
            <div class="col-4 text-end pe-0">
              <p *ngIf="m.type==='INGRESO'" class="mt-2 text-success">S/. {{ m.amount | number: '1.2-2' }}</p>
              <p *ngIf="m.type==='EGRESO'" class="mt-2 text-danger">S/. -{{ m.amount | number: '1.2-2' }}</p>
            </div>
            <div class="col-1 pt-2">
              <i class="fa-solid fa-chevron-right fa-xs" style="color:gray"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>


<!-- FOOTER -->
<app-footer [show]="true" [template]="'LIST'"></app-footer>
